body {
  background: linear-gradient(45deg, #B6E388, #A7D2CB, #E893CF);
  background-size: 400% 400%;
  animation: animate 10s infinite ease-in-out;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  width: fit-content;
  background-color: #FF6969;
  vertical-align: middle;
  border: 2px solid #3C486B;
  margin:auto;
  justify-content: center;
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 4px 4px 0px #3C486B;
}

.icons {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.icon {
  margin: 10px;
  padding: 10px;
  font-size: 200%;
  background-color: #e6ad4c;
  border: 2px solid #3C486B;
  border-radius: 6px;
  box-shadow: 4px 4px 0px #3C486B;
}

.icon:active{
  box-shadow: 2px 2px 0px #3C486B;
  background-color: #e9cf79;
}
.icon:disabled{
  box-shadow: 2px 2px 0px #3C486B;
  background-color: #e9d9a5;
}


.submit{
  font-size: 14px;
  width: max-content;
  margin: auto;
  padding: 6px;
  background-color: #6d41d3;
  border: 2px solid #333;
  border-radius: 6px;
  box-shadow: 2px 2px 0px #3C486B;
}
.submit:active{
    box-shadow: 1px 1px 0px #3C486B;
    background-color: #8667cf;
}


@media (max-width: 50em) {
  .icon {
    margin: 6px;
    padding: 6px;
    font-size: 150%;
  }
  .container {
    justify-content: center;
    vertical-align: middle;
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 4px 4px 0px #3C486B;
  }
}
